<head>
<style>
body {
  background-color: black;
}

h1 {
  color: maroon;
  margin-left: 40px;
  font-family: fifteen
  font-size: 160%;
}

ul {
  list-style-type: circle;
}

p {
  border: padding: margin:
}

</style>
</head>
