body {
  background-color: #fcbfac;
}

h1 {
  font-family: cursive;
}

ul {
  list-style-type: circle;
  font-family: sans-serif;
}

p {
  font-weight: bold;
  font-size: 200%;
}

#Angry, #Happy, #Sad, #Tired {
  width: 10%;
  height: auto;
}
