body {
  background-color: #fcbfac;
}

h1 {
  color: maroon;
  margin-left: 40px;
  font-family: fifteen
  font-size: 160%;
}

ul {
  list-style-type: circle;
}

p {
  border: padding: margin:
}

#Angry, #Happy, #Sad, #Tired {
  width: 10%;
  height: auto;
}
